* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #B0A565;
    align-items: center;
    justify-content:center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: 'Griffy', sans-serif;
}

.game-container {
    background: #CF0A0A;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 700px;
    height: 600px;
    padding: 30px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.card {
   justify-content: center;
   align-items: center;
   width: 23%;
   height: 23%;
   padding: 20px;
   margin: 5px;
   border-radius: 10px;
   position: relative;
   transform-style: preserve-3d;
   transition: transform 0.3s;
   cursor: pointer;
   background-color: #EEEEEE;   
   background: rgba(150, 123, 123, 0.5);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.card::backdrop{
    background-color: black;

}

.card:active {
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
}

.card.flip {
    transform: rotateY(180deg);
    cursor: pointer;
}

.front,
.back {
    height: 80px;
    width: 80px;
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    backface-visibility: hidden;
}
.front {
    transform:rotateY(180deg)
}