body{
    background: rgb(66, 66, 66);
    justify-content: center;
    color: aliceblue;

    
}
/* .description{
  transition: 0.9s ease-in-out;
} */
.container {
    display: flex;
    justify-content:center;
    /* align-items: center; */
  }
  
  .color {
    width: 100px;
    height: 40px;
    margin: 300px 10px;
  }
  
  .red {
    background-color: red;
  }
  
  .cyan {
    background-color: cyan;
  }
  
  .violet {
    background-color: violet;
  }
  
  .orange {
    background-color: orange;
  }
  
  .pink {
    background-color: pink;
  }
  
  .center {
    width: 200px;
    height: 200px;
    background-color: transparent;
    border-radius: 50%; /* Makes the div a circle */
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
